#titleContainer{
    background-color: rgba(0, 0, 0, 0.615);
    margin: auto;
    display:flex;
    flex-direction: column;
    width: 600px;
    flex-wrap: wrap;
    border: 2px solid black;
    justify-content: space-around;
    align-items: center;
}

.pageTitle,
.pageMantra {
    color: red;
    font-size:400;
    text-shadow: 3px 3px black;
}

#workoutsContainer{
    display:flex;
    margin: auto;
    border: 2px solid black;
    max-width: 800px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
    max-height: 800px;
    overflow: auto;
}

.circuitWorkout{
    display:flex;
    width: fit-content;
    flex-flow: column wrap;
    font-size: 20pt;
    border: 2px solid black;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin:10px 10px;
    padding: 10px 10px;
}

.workoutDetails{
    text-indent: 10px;
    word-spacing: 2px;

}

button{
    margin: 5px 5px; 
}

#selectedWorkoutsContainer{
    display:flex;
    margin: auto;
    width: 600px;
    height: 800px;
    height: fit-content;
    border: 2px solid black; 
    overflow: auto;
}


.selectedWorkout{
    display:flex;
    flex-wrap: column wrap;
    margin: auto;
    width: fit-content;
    border: 2px solid black;
}