body{
    background-image: url('https://media.gq.com/photos/5e73953620f79700088ed229/master/pass/empty3.jpg');
    background-position: center center;
}

#titleContainer{
    background-color:rgba(83, 82, 82, 0.838);
    margin: auto;
    display:flex;
    flex-direction: column;
    width: 600px;
    flex-wrap: wrap;
    border-radius: 5px/10px;
    justify-content: space-around;
    align-items: center;
}

.pageTitle,
.pageMantra {
    color: whitesmoke;
    font-size:400;
    text-shadow: 3px 3px black;
}

.linkContainer{
    display:flex;
    margin: auto;
    justify-content: center;
    border: red;
    border-radius: 5px/10px;
    width: 600px;
    background-color:rgba(83, 82, 82, 0.838);
}

a{
    font-size: 30px;
    color:white;
    font-weight: 300;
    padding: 10px 10px;
    margin: 5px;
}

#workoutsContainer, #selectedWorkoutsContainer{
    display:flex;
    margin: auto;
    background-color:rgba(83, 82, 82, 0.838);
    color: white;
    font-size: 40px;
    border: 2px solid black;
    max-width: 900px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
    max-height: 800px;
    overflow-y: scroll;
    overflow-x: hidden;
    white-space: wrap;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.circuitWorkout, .selectedWorkout{
    display:flex;
    width: fit-content;
    flex-flow: column wrap;
    font-size: 20pt;
    font: white;
    border: 2px solid black;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin:10px 10px;
    padding: 10px 10px;
}

.workoutDetails{
    font: white;
    text-indent: 10px;
    word-spacing: 2px;

}

button{
    margin: 5px 5px;
    font-size: 20px; 
    background-color: aliceblue;
}

button:hover{
    cursor:pointer;
    background-color:black;
    color:whitesmoke;
}
