#titleContainer{
    background-color: rgba(0, 0, 0, 0.615);
    margin: auto;
    display:flex;
    flex-direction: column;
    width: 600px;
    flex-wrap: wrap;
    border: 2px solid black;
    justify-content: space-around;
    align-items: center;
}

.pageTitle,
.pageMantra {
    color: red;
    font-size:400;
    text-shadow: 3px 3px black;
}

#workoutsContainer{
    display:flex;
    margin: auto;
    border: 2px solid black;
    width: fit-content;
    display: table-row; 
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.circuitWorkout{
    display:flex;
    font-size: 20pt;
    width:max-content;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    margin:10px 10px;
    padding: 10px 10px;
}

.workoutDetails{
    text-indent: 20px;
    word-spacing: 2px;

}

button{
    margin: 5px 5px; 
}